<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><img src="assets/logo.png" width="30px"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTe">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/resume">Resume</a>
      </li>
    </ul>
  </div>
  
  <span class="navbar-text" style="margin-left:1%"><b>Tel:</b>773-289-2565 </span>
  <span class="navbar-text" style="margin-left:1%"><b>Email:</b>csando6@uic.edu</span>
  <a href="https://www.linkedin.com/in/charly-sandoval-2017/" style="margin-left:1%"><img src="assets/linkin.png" width="30px"></a>
  <a href="https://github.com/csandoval97" style="margin-left:1%"> <img src="assets/github.png" width="30px"></a>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

