<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><img src="assets/logo.png" width="30px"> </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/resume">Resume</a>
      </li>
    </ul>

    <div style="margin-right: 7px">
      <a href="mailto:csando6@uic.edu">csando6@uic.edu</a>
    </div>

    <a href="https://www.linkedin.com/in/charly-sandoval-2017/" target="_blank" style="margin-right: 7px"><img src="assets/linkin.png" width="30px"></a>
    <a href="https://github.com/csandoval97" target="_blank"> <img src="assets/github.png" width="30px"></a>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

